body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.button-box {
    display: flex;
    flex-direction: column;
}

.button-design {
    font-size: 20px;
}

.inner-sketch {
    background-color: pink;
    border: solid 0px black;
    padding: 10%;
} 

.sketch-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 80vmin;
    height: 80vmin;
    border: solid 3px black;
    gap: 0;
}



