body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.button-box {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 200px;
    height: 200px;
}

.button-design {
    font-size: 1em;
    padding: 50px;
}

.inner-sketch {
    background-color: white;
    border: solid 0px black;
    padding: 10%;
} 

.main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.sketch-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 80vmin;
    height: 80vmin;
    border: solid 3px black;
    gap: 0;
}

#top-title {
    font-size: 7vmin;
    margin: 0px;
}


